* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.block-element {
    background-color: green;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
}

.nav {
    background-color: peachpuff;
    padding: 20px;
    border-radius: 5px;
    list-style: none;
    text-align: center;
}

.nav li {
    display: inline-block;
    padding: 0px 20px;
    margin: 0px 10px;
    font-size: 2rem;
    background-color: violet;
}

.nav__item a {
    text-decoration: none;
}